// Generals

*{
  padding: 0;
  margin: 0;
  font-family: Organica, sans-serif;
  font-size: .9rem;
  color: var(--primaryColor);
  box-sizing: border-box;
}
:root{
  --primaryColor:#410603;
  --secondaryColor:#E7332B;
  --secondaryColor2:#fff;
  --backgroundColor1:#F5F0EE;
}
.red-btn,
.transparent-btn{
  padding: 1em 1.8em;
  border-radius: 5px;
  border: none;
  outline: none;
}
.red-btn{
  background-color: var(--secondaryColor);
  color: var(--secondaryColor2);
}
.transparent-btn{
  border: 1px solid var(--primaryColor);
  background-color: transparent;
}
.red-text{
  color: var(--secondaryColor);
}
.white-text{
  color: var(--secondaryColor2);
}
.numbering{
  border: 1px solid var(--secondaryColor);
  border-radius: 50%;
  padding: .8em;
}
//GENERAL BACKGROUND
header,
#front-page,
#howItWorks,
#trainingPrograms,
#testimonials
{
  background-color: var(--backgroundColor1);
}
//GENERAL PADDING
header,
#front-page,
#clients > div,
#howItWorks,
#improve,
#trainingPrograms,
#sean,
#technologies
{
  padding: 0 10vw;
}
.decorator{
  position: absolute;
  top: -15px;
  left: 0;
  height: 2.5em;
  width: 100%;
}
h1,
h1 span{
  font-size: 2.7rem;
}
h2{
  font-size: 2.2rem;
}
.font{
  font-size: 1.3rem;
  font-weight: 600;
}
li{
  list-style: none;
}
a{
  text-decoration: none;

}

// HEADER
header{
  display: flex;
  justify-content: space-between;
  padding: 2.5em 10vw;

  img{
    width: 140px;
  }

  nav{
    display: flex;
    justify-content: center;

    ul{
      display: flex;
      align-items: center;

      li{
        margin-right: 2em;

        a{
          font-size: .75rem;
        }
      }
    }
    div{

      button{
        font-size: .75rem;
        padding: .7em 1em;

      }
      .transparent-btn{
        margin-right: 1em;
      }
    }
  }

}
//MAIN
main{
  #front-page{
    display: flex;
    justify-content: space-between;
    padding-bottom: 4em;

    #first-half{

      width: 50%;

      #faces{
        margin: 1em 0 2em;

        img{
          width: 2rem;
        }
      }
      h1+p{
        margin: 1.5em 0;
      }
     
      #zuri-info{
        display: flex;
        margin: 2em 0;

        div{
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          img{
            width: 2em;
            margin-bottom: 1em;
          }  
        }
        .thin-line{
          width: 1px;
          background-color: var(--primaryColor);
          margin: 0 1.3em;
        }
      }
    }
    #second-half{
      padding-top: 2rem ;
      background-color: var(--primaryColor);
      background-image: url(Index1/hero-lady\ vector.webp);
      
      display: grid;
      place-items: center;
     
      width: 43%;
      height: 100%;
      border-radius: 15px;
      position: relative;

      img{
        width: 80%;
        
      }
      .circle{
        position: absolute;
        z-index: 3;
        border-radius: 50%;
      }
      #top-right{
        background-color: #FFF5D4;
        width: 55px;
        height: 55px;
        top: -10px;
        right: -25px;

      }
      #top-left{
        background-color: #FFD2B9;
        width: 35px;
        height: 35px;
        top: 30%;
        left: -15px;
      }
      #bottom-left{
        background-color: #FFE8E9;
        width: 75px;
        height: 75px;
        bottom: 20%;
        left: -45px;
      }
      #bottom-right{
        background-color: #E4D3FF;
        width: 35px;
        height: 35px;
        bottom: 10%;
        right: -15px;

      }
    }
  }
  #clients{
    padding-top: 3.5em;
    padding-bottom: 3.5em;
    background-color: var(--primaryColor);
    position: relative;
    
    >div{
      display: flex;
      flex-direction: column;
      align-items: center;
      h2{
        margin: .5em 0 1em;
      }
      div{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        img{
          width: 15%;
        }
      }
   
    }
  }
  #howItWorks{
    padding-top: 8em;
    padding-bottom: 8em;
    display: flex;
    justify-content: space-between;
    img{
      width: 45%;
      height: 100%;
    }
    >div{
      width: 45%;

      h2{
        margin: .7em 0;
      }
      #list-of-how-it-works{
        .container{
          display: flex;
          .design{
            margin-right: .8em;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .thin-line{
              width: 1px;
              height: 100%;
              background-color: var(--secondaryColor);
            }
            
          }
          div + div{ 
            p{
              margin: .5em  0;
              padding-bottom: 1em;

            }
          }
        }
      }
      button{
        padding: 1em 2em;
      }
    }
  }
  #improve{
    color: var(--secondaryColor2);
    background-image: url(Index1/improvelady.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding-top: 4em;
    padding-bottom: 8em;

    .first-half{
      width: 54%;
      h2{
        margin: .5em 0;
      }
    }
    .second-half{
      width: 40%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      p{
        color: var(--secondaryColor2);
        width: 10em;
        text-align: center;

        span{
          color:var(--secondaryColor2)
        }
      }
    }
  }
  #trainingPrograms{
    padding-top:7em ;
    padding-bottom: 5em;
    display: grid;
    place-items: center;
    .numbering{
      width: 3em;
    }
    .first-half{
      p{
        margin-bottom: 1em;
      }
      div{
        display: flex;
        img{
          width: 20em;
        }
      }
    }
    >.second-half{
      display: flex;
      justify-content: space-between;
      margin: 3em 0 5em;
      

      .part{
        width: 32%;
        height: fit-content;
        border-radius: 10px;
      }
      
      .first-half{
        >div{
          display: flex;
          flex-direction: column;
          background-color: #FFF5D4;
          margin-top: 3.2em;
          padding:2em  2em ;
          border-radius: 10px;


          
          p,h3{
            margin-top: 1em;
          }
        }
      }
      .second-half{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--primaryColor);
        padding: 2em;
        p,  .numbering,h3{
          color: white;
        }
        p{
          margin-bottom: 1.5em;
        }
        h3{
          margin: 1em 0 .5em;
        }
      }
      
      .second-half + div{
        img{
          width: 100%;
        }
        p{
          margin-top: 1em;
        }
      }

    }
    button{
      align-self: center;

    }
  }
  #sean{
    display: flex;
    justify-content: space-between;
    padding-top: 8em;
    padding-bottom: 8em;
  >img{
  width: 40%;
  height: fit-content;
  }
     >div{
      margin-left: 2em;
      img{
        width: 100px;
      }
      blockquote{
        margin: 3.2em 0;

        font-size: 1.7em;
      }
     }
  }
  #testimonials{
    display: grid;
    place-items: center;
    #slide{
      display: flex;
      >div{
        width: 20em;
        background-color: var(--secondaryColor2);
        border-radius: 5px;
        padding: 1em;
        display: flex;
        flex-direction: column;
        >div{
          img{
            width: 5em;
          }
        }
      }
      div + div{
        display: flex;
        img{
          width: 2em;
          border-radius: 50%;
        }
        .name{
          font-weight: 700;
        }
      }
    }
  }
  #technologies{
    display: grid;
    place-items: center;
    p{
      margin: 5em 0 2em;
    }
    img{
      width: 100%;
      margin: 5em 0;
    }
  }
}
//FOOTER
footer{
  background-color: var(--primaryColor);
  position: relative;
  padding: 4em 10vw;

  p,h3,a,h2{
    color: var(--secondaryColor2);
  }
  button,a{
    font-size: .9em;

  }
  #get-started{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3em;
    
    h2{
      text-align: center;
      padding: .7em;
      width: 550px;
    }
  }
  #zuriTeam{
    border: 1px solid #6B403D;
    border-left: none;
    border-right: none;
    padding: 3em 0;

    h3{
      margin-bottom: 1em;
    }

    >img{
      width: 170px;
    }
    >div{
      display: flex;
      justify-content: space-between;
      margin-top: 2em;

     
      .list{
        display: flex;
        ul{
          margin-right: 2.5em;
          li{
            padding: .3em 0;
           
          }
        }
      }

    }
    #contact{
      width: 32%;
  
      #input{
        div{
          display: flex;
          border-radius: 7px;
          padding: .6em .4em;
          margin-bottom: 2.5em;
          background-color: var(--secondaryColor2);
  
          input{
            width: 60%;
            padding: .3em;
            border: none;
            outline: none;
            font-size: .85em;
           
          }
          .red-btn{
            padding: 1em 1em;
            
          }
          
  
        }
      }
      #emails{
        display: flex;
        justify-content: space-between;
      }
  
    }

  }
  #copyright{
    display: flex;
    justify-content: space-between;
    padding: 2.5em 0;
    border-bottom: 1px solid #6B403D;
    ;

    #social{
      img{
        height: 1.5em;
        width: 1.5em;
        margin-left:.5em;
      }
    }
  }
  #disclaimer{
    padding: 3em 0;
    text-align: center;
    font-size: .85em;
  }
  .bottom-decorator{
    top:96% ;
    height: 2.5em;
  }
}
