:root{
    --link:#E7332B;
    --color:#514949;
}
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: Averta, sans-serif;
    text-decoration: none;
    word-spacing: 4px;
    line-height: 1.5em;
    color: var(--color);
    list-style: none;

}
.red{
    color:var(--link);
}
#zurilogo{

    display: block;
    margin:6em auto;
}
#section1 {
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    background-image: url(hero-bg.svg);

}
#section1 h1{
    font-size: 1.8rem;
    padding-bottom: 1.5em;
    margin: auto;
    text-align: center;
}
#section1 p{
    text-align: center;
    margin-bottom: 5em;
    align-self: center;
    width: 40em;
}
#section1 #button{
    width:fit-content;
    margin: 0 auto 9rem;

    display: flex;
    justify-content: center;
}
#section1 #button a{
    font-size: 1em;
    text-align: center;
    margin-right: 1.7rem;
}
#section1 #button #redbtn:hover, #section1 #button #whitebtn{
    color:var(--link);
    background-color: white;
    border: 1px solid var(--link);    
    padding: .7em 1.5em;
}
#section1 #button #redbtn, #section1 #button #whitebtn:hover{
    color: white;
    background-color: var(--link);
    border: 1px solid var(--link);
    padding: .7em 1.5em;
}
#section2 #zuri h2{
    font-size: 1rem;
    color: var(--link);
    text-align: center;
    margin-bottom: 1em;
}
#section2 #zuri p{
    font-size: 1.5rem;
    text-align: center;
    width: 400px;
    margin: 0 auto 7em;
}
#section2 #similar{
    padding: 0 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#section2 #similar section{
    margin-bottom: 11em;
    width: 25%;
}
#section2 #similar img{
    margin-bottom: 3em;
}
#section2 #similar  p{
    margin-bottom: 1.5em;
}
footer #details{
    display: flex;
    font-size: .9rem;
    justify-content: space-between;
   
    align-items: center;
    align-items: flex-start;
    padding: 0 2% 5em;
}
footer h2{
    font-size: 1rem;
}
footer ul li{
    margin-bottom: 1em;
    text-align: center;
}
footer #details #contact{
    font-size: .9rem;
    width: 15em;
}
#details #contact p{
    margin-bottom: 1em ;
}
#follow{
    width: 13%;
}
#details #follow div{
    display: flex;
    justify-content: space-between;
}
footer #follow img{
    width: 1.2rem;
}
#copyright{
    border-top: 1px solid var(--color);
    padding: 2rem 2rem 8rem;
    font-weight: 700;
    text-align: center;
}

@media (max-width: 998px){
    #section2 #similar{
        display: flex;
        flex-direction: column;
    }
    #section2 #similar section{
        width: 100%;
    }
}
@media (max-width: 768px) {
    #section1 #button{
        flex-direction: column;
    }
    #section1 #button a{
        margin: 0 0 1.5rem;
    }
    #section2 #similar section{
        width: 100%;
    }
    footer #details{
        padding: 0 30% ;
    }
    footer #details{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #details #footerLogo{
        width: 9rem;
        margin-bottom: 2rem;
    }
    footer #details h2{
        font-size:1.5rem ;
    }
    footer #contact{
        text-align: center;
    }
   footer #follow{
    width: fit-content;
    }
    footer #footerLogo, footer ul, footer section{
       margin-bottom: 2rem;
    }
}